#root {
  margin: 0 200px;
  text-align: center;
  height: 100vh;
  width: 100%;
  font-size: 20px;
}

.home,
.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;
  font-weight: 600;
  padding: 10px 20px;
}

.nav-menu {
  width: 250px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.welcome {
  font-weight: 500;
  color: #646cff;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 300px;
  font-weight: 600;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.serVme {
  font-weight: 500;
  color: #646cff;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.lower-footer {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.error-message {
  color: red;
}

.body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}
